.cover__image {
    width: 100%;
}

@media screen and (max-width:768px) {
    .cover__image {
        height: 500px;
    }
}

@media screen and (max-width:375px) {
    .cover__image {
        height: 272px;
    }
}