.intro__content-row-text-one {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin:0 18px 0 0;
    width: 683px;
    height: 154px;
}