@import url('./__item/video__item.css');

.video__container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 72px auto 0;
    width: 100%;
    max-width: 1184px;   
}

@media screen and (max-width:700px) {
    .video__container {
        flex-wrap: wrap;
    } 
 }


@media screen and (max-width:375px) {
   .video__container {
       width: 100%;
       flex-wrap: wrap;
   } 
}